/* Detalles de Visualicacion*/

body{
    margin: 0;
}
/*agregue background y box shadow*/
.header {
    display: flex;
    background: #3c88a7;
    background-color:#3c88a7 ;
    margin-top: 0px;
    box-shadow: 0 200px white inset;
}



.logo{
    display: flex;
    margin: 0%;
    margin-left: 10%;
    margin-right: 10px;
    width: 110%;
    height: 180px;
    float: left;
}
.imagestart{
    width: 100%;
}




.keypad{
        display: none;
        flex-direction: column;
        justify-content: center;
        
        justify-content: space-between;
}
.show{
    display:flex;
 }  
    
.botton {
    padding: 10px;
    list-style: none;
}

.title{
    display: flex;
    justify-content: center;
}
/*cambie background color (tc)*/
footer{
    display: flex; 
    justify-content: space-between;
    background-color: #3c88a7;
    font-family: fantasy;
    color: white;
    margin-top: 105px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
     
}

.mail {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

/* HTML1 */

th {
    border: 3px solid black;
    background: black;
    color: white;
}

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
.contenthtml1{
    width: 50%;
    font-size: 11px;
}
/* Distincion de Marcas en la Tabla */
.brands{
    text-align: center;
    background-color: #3c88a7;
}

/* HTML2 */
.contenthtml2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding: 3% 0% 6%;
    
}

.contacthtml2 {
   display: flex;
   flex-direction: column;
   text-align: center;
  
}

.form{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  height: 350px;
  padding: 2px;
}

textarea {
    resize: none;
}

.btnsend {
    display: none;
}

.captcha{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

.numcaptcha{
    text-align:  center;
    border: 1px black solid;
}

.sucursaleshtml2{  
   text-align:  center;
  
}

.editar{
    display: none;
}
/* Lista de sucursales */

li {
    list-style: none;
    text-align: left;       
}

/*Estructura Basica de la WEB*/
a {    
    color: white;
    text-decoration: none;
  
}
/*cambie color background (tc)*/
a:hover {
    background-color: #3c88a7;
    transition: 0.8s;
    color: black;       
}

.formtext{
    font-family: 'Comic Sans MS';
    font-style: oblique;
    margin: 20px;
}

/*agregue margin y cambie letra (tc)*/
.formtext2{
    font-family: 'Comic Sans MS';
    font-style: oblique;                
    margin: 20px;
}

.spanbrands{
    color: red;
}

.spancompany{
    color: blue;
}
/* Visión Pág Admin */

.admintabla{
    display: flex;
    justify-content: space-around;
}


@media only screen and (min-width: 769px){
    /* Detalles de Visualicacion*/

.content{
    display: flex;
}
footer{
    position: fixed;
}

/* HTML1 */

.menumobile{
    display:none;
}

.contenthtml1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 19px;
    width: 95%;
    font-size: 20px;
}

.imagestart{
    width: 100%;
}

/* HTML2 */
.contenthtml2 {
    flex-direction: row;
}

.keypad{
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-right: 50px;
    margin-left: 350px;
    justify-content: space-around;
}
.keypad a {
    color: black;
        font-size: 19px;
        text-decoration: none;
        padding-left: 19px;
        font-weight: bold;
}
}