/* Detalles de Visualicacion*/

body {
  margin: 0;
}

.header {
  display: flex;
    background: #3c88a7;
    background-color:#3c88a7 ;
    margin-top: 0px;
    box-shadow: 0 200px white inset;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 150px;
}

.imagestart {
  width: 100%;
}

.keypad {
  display: none;
  flex-direction: column;
  justify-content: center;
  
}
.show {
  display: flex;
}

.botton {
  padding: 10px;
  list-style: none;
}

.title {
  display: flex;
  justify-content: center;
}

footer {
  display: flex; 
  justify-content: space-between;
  background-color: #3c88a7;
  font-family: fantasy;
  color: white;
  margin-top: 105px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.mail {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/* HTML1 */

th {
  border: 3px solid black;
  background: black;
  color: white;
}

table,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}
.contenthtml1 {
  width: 50%;
  font-size: 11px;
  font-style: italic;
}
/* Distincion de Marcas en la Tabla */
.brands {
  text-align: center;
  background-color: aquamarine;
  font-style: italic;
}

/* HTML2 */
.contenthtml2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  padding: 3% 0% 6%;
}

.contacthtml2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
}

.cons-titulo {
  text-align: center;
  text-decoration: underline;
}

.foto-contacto {
  border-radius: 10px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid black;
  text-decoration: underline;
  font-family: cursive;
  font-weight: bold;
}

textarea {
  resize: none;
}

.btnsend {
  display: none;
}

.captcha {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 10px;
  text-decoration: underline;
  font-family: cursive;
}

.numcaptcha {
  text-align: center;
  border: 1px black solid;
}

.sucursaleshtml2 {
  text-align: center;
  color: darkred;
  font-family: cursive;
}

.titulosucur {
  text-decoration: underline;
  font-weight: bold;
}

.editar {
  display: none;
}
/* Lista de sucursales */

li {
  list-style: square;
  text-align: left;
}

/*Estructura Basica de la WEB*/
a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: #3c88a7;
    transition: 0.8s;
    color: black;
     
}

.formtext {
  font-family: 'Comic Sans MS';
  font-style: oblique;
  margin: 20px;
}

.formtext2 {
  font-family: 'Comic Sans MS';
    font-style: oblique;                
    margin: 20px;
}

.spanbrands {
  color: red;
}

.spancompany {
  color: blue;
}
/* Visión Pág Admin */

.admintabla {
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 769px) {
  /* Detalles de Visualicacion*/

  .content {
    display: flex;
  }
  footer {
    position: fixed;
  }

  /* HTML1 */

  .menumobile {
    display: none;
  }

  .contenthtml1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 19px;
    width: 95%;
    font-size: 20px;
  }

  .imagestart {
    width: 100%;
  }

  /* HTML2 */
  .contenthtml2 {
    flex-direction: row;
  }

  .keypad {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-right: 50px;
    margin-left: 350px;
  }
  .keypad a {
    color: black;
        font-size: 19px;
        text-decoration: none;
        padding-left: 19px;
        font-weight: bold;
}
.productos{
  width: 300px;
  height: 300px;
  margin-left: 30px;
}
.titulo{
  text-align: center;
  font-style: italic;
}
}
